<p>Hi <%= name %>,</p>
<p>Thanks for signing up with <%= appName %>.To complete your signup, please verify your email by clicking the link below:</p>
<p><a href="<%= callbackUrl %>">Confirm Account</a></p>