<p>Hi <%= name %>,</p>
<p>You have received a new message</p>
<p>Please click the link below</p>
<p><a href="<%= callbackUrl %>">Click here to view message</a></p>
<p>Thank you,</p>
<p><%= appName %></p>