<p>Hi <%= name %>,</p>
<p>We have received a request to reset your password.</p>
<p>To change your password, please click the link below. If you didn’t make this request, please ignore this email.</p>
<p><a href="<%= callbackUrl %>">Click Here To Reset Password</a></p>
<p>This link is valid for 24 hours.</p>
<p>Thank you,</p>
<p><%= appName %></p>